pre.code {
    white-space: pre-wrap;
}

pre.code:before {
    counter-reset: listing;
}

pre.code code {
    counter-increment: listing;
}

pre.code code::before {
    content: counter(listing) " ";
    display: inline-block;
    color: gray;
}

code.error {
    background-color: darksalmon;
} 