h1 {
    text-align: center;
}

div.listing {
    border: solid lightgray 1px;  
}

pre.code {
    white-space: pre-wrap;
    margin-left: 10ch;
}

pre.code:before {
    counter-reset: listing;
}

pre.code code {
    counter-increment: listing;
}

pre.code code::before {
    content: counter(listing) " ";
    display: inline-block;
    color: gray;
}

code.error {
    background-color: lightpink;
}

div.global {
    margin-left: auto;
    margin-right: auto;
    width: 100ch;
}

td:last-child {
    text-align: center;
}

.anchor {
    position: absolute;
    transform: translateY(-50vh);
    visibility: hidden;
}

.error_message {
    border-top: solid red 1px;
    border-bottom: solid red 1px;
}